.recording__table-expandable {
  background: #fff;
}

.arrow__row {
  font-weight: 700;
  font-size: 2rem;
  color: var(--black);
  color: var(--fi-blue);
  text-align: center;
}

.arrow__heading {
  text-align: center;
}

.row__expanded-header-studyset {
  background-color: rgba(0, 0, 0, 0.05);
}

.row__expanded-header-study {
  background-color: rgba(0, 0, 0, 0.15);
}

.row__expanded-header-recordings {
  background-color: rgba(0, 0, 0, 0.25);
}
