.path-link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: none !important;
}

.path-link-button:hover,
.path-link-button:focus {
text-decoration: none;
}