/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar__container {
  width: 100%;
  max-width: 100vw;
}

.navbar__white {
  background: #fff;
  position: fixed;
  width: 100vw;
  padding: 0.8rem 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__center {
  margin: 0 !important;
  border-bottom: none;
}

.navbar__right {
  float: right;
  margin: 0 5rem 0 0 !important;
}

.navbar__left {
  margin: 0 0 0 2rem !important;
  border-bottom: none;
  display: flex;
}

.navbar__pagename {
  font-size: 1.6rem;
  border-bottom: none;
  font-family: var(--sans);
  color: var(--black);
  padding: 0.5rem 1rem;
  margin: 0 0 0 2rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link {
  border-bottom: none;
  font-family: var(--sans);
  color: var(--black);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--fi-blue);
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--fi-blue);
}
