.navbar__container {
  width: 100%;
  max-width: 100vw;
}

.navbar__white {
  background: #fff;
  position: fixed;
  width: 100vw;
  padding: 0.8rem 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar__center {
  margin: 0 0 0 2rem !important;
  border-bottom: none;
}

.navbar__right {
  float: right;
  margin: 0 2rem 0 0 !important;
}

.navbar__hidden {
  visibility: hidden;
}

.nav-link {
  border-bottom: none;
  font-family: var(--sans);
  color: var(--black);
}

.nav-link:hover {
  text-decoration: none;
  color: var(--fi-blue);
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--fi-blue);
}
