/* Infopanel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:focus {
  outline: none !important;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  right: 28px;
  top: 30px;
}

.bm-burger-bars {
  background: rgb(42, 42, 42);
}

.bm-burger-bars-hover {
  background: var(--fi-blue);
  opacity: 1;
}

.bm-cross-button {
  position: fixed;
  width: 23px !important;
  height: 19px !important;
  right: 36px !important;
  top: 17px !important;
}

.bm-cross {
  background: #f4f4f4;
  height: 23px !important;
}

/* Sidebar container styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bm-menu-wrap {
  position: fixed;
  padding: 1.6rem 3.2rem;
  background-color: rgba(40, 40, 40, 1) !important;
  color: #f4f4f4;
  top: 0 !important;
}

.bm-menu {
  padding: 1rem 1.5rem;
  overflow: hidden !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background-color: rgba(40, 40, 40, 1) !important;
  top: 0 !important;
}

/* Sidebar Copy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info {
  margin: 1%;
}

.info__inset {
  border-top: 3px solid #5b5b5b;
  margin: 5%;
}

.info h5 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.7;
  margin-top: 1.5rem;
}

.info p {
  font-size: 1.7rem;
  line-height: 1.5;
}

.info__inset a {
  color: #f4f4f4;
}

.info__byline {
  padding-top: 4rem;
}
