.contact__body {
  /* background: #ef3b36;
  background: -webkit-linear-gradient(to top, #ffffff, #ef3b36);
  background: linear-gradient(to top, #ffffff, #ef3b36); */
}

.contact__form {
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 7rem;
}
