.expandingheatmaptable tr {
  padding: 2px;
  margin: 4px;
}
.expandable-button {
  font-weight: 700;
  font-size: 2rem;
  color: #384ca2;
  text-align: center;
  cursor: "pointer";
}
.toprow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 1vh;
}
.expandingheatmaptable td {
  padding: 2px;
  margin: 4px;
  font-size: 1.2rem;
  line-height: 1.4;
}
@media (min-width: 1500px) {
  .expandingheatmaptable td {
    font-size: 1.7rem;
    line-height: 1.5;
  }
}

tr.toprow > :first-child,
tr.subrow > :first-child {
  width: 16px;
  text-align: center;
}

tr.toprow > :nth-child(2) {
  border-left: none !important;
}

.expandingheatmaptable td.expandable {
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.expandingheatmaptable td.selectable {
  cursor: cell;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.expandingheatmaptable td.selectable:hover {
  border: 2px solid #f28b00 !important;
}
.expandingheatmaptable td.selected {
  border-style: solid;
  border-width: 2px;
  border-color: #f28b00 !important;
}
.expandingheatmaptable td.spacer {
  height: 4px;
}

td.border_right {
  max-width: calc(35vw / 10);
}

/* Thanks: https://css-tricks.com/rotated-table-column-headers/ */
.expandingheatmaptable td.rotate {
  /* Something you can count on */
  height: 100px;
  white-space: nowrap;
  padding-bottom: 10px;
}
.expandingheatmaptable td.rotate > div {
  transform:
      /* Magic Numbers */ translate(28px, 28px)
    /* 45 is really 360 - 45 */ rotate(315deg);
  width: 44px;
}
.expandingheatmaptable td.rotate > div > span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 5px 10px;
}
