.expandingheatmaptable td {
    margin: 0px;
    padding: 0px;
    width: 44px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  .expandingheatmaptable td.result_column {
    border-left-color: lightgray;
    border-right-color: lightgray;
  }
  .expandingheatmaptable td.selectable:hover {
    border-style: solid;
    border-width: 2px;
    border-color: gold;
  }
  .expandingheatmaptable td.selected {
    border-width: 2px;
    border-color: black !important;
  }
  
  /* Thanks: https://css-tricks.com/rotated-table-column-headers/ */
  .expandingheatmaptable td.rotate {
    /* Something you can count on */
    height: 100px;
    white-space: nowrap;
  }
  .expandingheatmaptable td.rotate > div {
    transform: 
      /* Magic Numbers */ translate(28px, 28px)
      /* 45 is really 360 - 45 */ rotate(315deg);
    width: 44px;
  }
  .expandingheatmaptable td.rotate > div > span {
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
  }
  