.expandingheatmaptable {
  overflow: auto;
  /* display: block; */
  table-layout: auto;
  width: 100%;
}

.expandable-button {
  font-weight: 700;
  font-size: 1.9rem;
  color: #384ca2;
  text-align: center;
  cursor: pointer;
}

.expandingheatmaptable tr {
  padding: 2px;
  margin: 4px;
}

.expandingheatmaptable td.selectable:hover {
  border: 2px solid #f28b00 !important;
}

.expandingheatmaptable td.selected {
  border-style: solid;
  border-width: 2px;
  border-color: #f28b00 !important;
}

.expandingheatmaptable td.rotate {
  height: 100px;
  white-space: nowrap;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
}

.expandingheatmaptable td.rotate > div {
  transform: translate(-4px, 45px) rotate(315deg);
  width: 44px;
}

.expandingheatmaptable td.rotate > div > span {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
  padding: 5px 10px;
}

.toprow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  height: 1vh;
}

.subrow {
  height: 1vh;
}

.expandingheatmaptable td {
  padding: 0px;
  margin: 0px;
  font-size: 1.1rem;
  line-height: 1.2;
}

tr.toprow > :first-child,
tr.subrow > :first-child {
  width: 16px;
  text-align: center;
}

tr.toprow > :nth-child(2) {
  border-left: none !important;
}

.expandingheatmaptable td.expandable {
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.expandingheatmaptable td.selectable {
  cursor: cell;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.expandingheatmaptable td.spacer {
  height: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

td.border_right {
  max-width: calc(25vw / 10);
}

tbody :last-child {
  border-bottom: none;
}
