.container__heatmaps {
  width: 100%;
  background: #f7f7f7;
  padding: 30px 0 16px 0;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container__heatmap--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heatmap__buttonrow {
  margin: 0 auto 3rem auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.heatmap__big {
  font-size: 6.4rem;
  max-width: 70rem;
  line-height: 1.3;
  margin: 0 auto;
  font-weight: 300;
  /* margin-top: 100px; */
  text-align: center;
}

.heatmap__title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 300;
}

/* Range Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slider__horizontal {
  background-color: white;
}

.rangeslider {
  background-color: var(--fi-yellow) !important;
}

.rangeslider__handle {
  border-radius: 45px !important;
}

.rangeslider__fill {
  background: #e6e6e6 !important;
  border-radius: 1px !important;
}

.rangeslider-horizontal {
  border-radius: 1px !important;
}

.slider__copy {
  margin: 30px auto 0;
  font-size: 1.2rem;
  line-height: 2.9rem;
  text-align: left;
}

.slider__copy > p {
  margin-bottom: 0;
  line-height: 1.3rem;
}

/* Scrollytelling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scrollyteller__container {
  display: flex;
  border-top: 1px solid pink;
  font-family: Helvetica;
  border-bottom: 1px solid pink;
  justify-content: space-between;
  padding: 5rem 0;
}

.heatmap__column {
  flex-basis: 35%;
}

.detail__column {
  top: 0px;
  width: 100%;
  position: sticky;
  flex-basis: 60%;
  align-self: flex-start;
  background-color: purple;
}
.step {
  margin: 0 auto 2rem auto;
  border: 1px solid #333;
  padding-top: 200px;
  padding-bottom: 200px;
}

.heatmap__legend {
  /* margin-bottom: 5rem; */
}

/* Unit Detail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.unitdetail {
  text-align: right;
}

.unitdetail__title {
  font-family: var(--serif);
  margin-top: 1nav0px;
}

.unitdetail__copy {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 2.9rem;
  text-align: right;
  padding: 5rem;
  background-color: white;
}

.unitdetail__list {
  font-size: 1.2rem;
  font-family: var(--serif);
  text-align: right;
}

.tab-header__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.tab-header__bundle {
  font-size: 1.4rem;
}
