/* Heatmap
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container__heatmap {
  width: 100%;
  max-width: 95vw !important;
}

.container__heatmap--row {
  margin-bottom: 3rem;
}

/* .heatmap__column {
  flex-basis: 35%;
} */

.detail__column {
  top: 0px;
  width: 100%;
  position: sticky;
  flex-basis: 60%;
  align-self: flex-start;
}

.step {
  margin: 0 auto 2rem auto;
  border: 1px solid #333;
  padding-top: 200px;
  padding-bottom: 200px;
}

.heatmap__legend {
  /* margin-bottom: 5rem; */
}

.scrollyteller__container {
  display: flex;
  justify-content: space-between;
  /* padding: 5rem 0; */
}

/* Heatmap Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card--heatmap {
  padding: 15px;
}

.card__image {
  margin: 0 auto;
}

.card__header {
  margin-bottom: 15px;
}

.card__title {
  margin: 0;
  color: #333;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
}

.card__title--link {
  font-size: 20px;
  margin-right: 15px;
}

.card__category {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 0;
  line-height: 1.5;
}

.card__category--div {
  margin-bottom: 0;
  line-height: 1.5;
  display: flex;
}

/* Unit Detail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.unitdetail {
  text-align: right;
}

.unitdetail__title {
  font-family: var(--serif);
  margin-top: 1nav0px;
}

.unitdetail__copy {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 2.9rem;
  text-align: right;
  padding: 5rem;
  background-color: white;
}

.unitdetail__list {
  font-size: 1.2rem;
  font-family: var(--serif);
  text-align: right;
}

.tab-header__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.tab-header__bundle {
  font-size: 1.4rem;
}
