body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", "Helvetica Neue",
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fi-blue: #384ca2;
  --fi-grey: #807f84;
  --fi-teal: #00839b;
  --fi-green: #4c9d2f;
  --fi-yellow: #f6cf3f;
  --fi-brown: #903f2c;
  --fi-orange: #f28b00;
  --dark-grey: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
