/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  --fi-blue: #384ca2;
  --fi-grey: #807f84;
  --fi-teal: #00839b;
  --fi-green: #4c9d2f;
  --fi-yellow: #f6cf3f;
  --fi-brown: #903f2c;
  --fi-orange: #f28b00;
  --off-black: #222;
  --off-white: #fafafd; /* other possible background colors: #faf7ff, #fdfcff */
  --dark-grey: #282c34;
  --label-grey: #6b6b76;
  /* --sans: "Univers", "Arial", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --serif: "Chronicle Text G1 Roman", Georgia, Times, "Times New Roman", serif; */
  --sans: "Nunito Sans", sans-serif;
  --serif: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--sans);
  color: var(--off-black);
  background-color: var(--off-white);
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  font-family: var(--serif);
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--fi-blue);
}
a:hover {
  color: var(--fi-teal);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 15px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: var(--fi-blue);
  border-color: var(--fi-blue);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: var(--fi-yellow);
  border-color: var(--fi-yellow);
}

/* Containers
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
Use containers when you need a content area that has standard maximum width and centered on the page.
<div class="container {modifier_class}">Container</div>
*/
.app {
  background-color: var(--fi-grey);
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 95%;
  box-sizing: border-box;
}

.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 95%;
  }
  .col {
    margin-left: 2%;
  }
  .col:first-child {
    margin-left: 0;
  }
  .col--1 {
    width: 6.5%;
  }
  .col--2 {
    width: 15%;
  }
  .col--3 {
    width: 23.5%;
  }
  .col--4 {
    width: 32%;
  }
  .col--5 {
    width: 40.5%;
  }
  .col--6 {
    width: 49%;
  }
  .col--7 {
    width: 57.5%;
  }
  .col--8 {
    width: 66%;
  }
  .col--9 {
    width: 74.5%;
  }
  .col--10 {
    width: 83%;
  }
  .col--11 {
    width: 91.5%;
  }
  .col--12 {
    width: 100%;
    margin-left: 0;
  }
  .col--1-3 {
    width: 32%;
  }
  .col--2-3 {
    width: 66%;
  }
  .col--1-2 {
    width: 49%;
  }
  .col--offset-1 {
    margin-left: 8.5% !important;
  }
  .col--offset-2 {
    margin-left: 17% !important;
  }
  .col--offset-3 {
    margin-left: 25.5% !important;
  }
  .col--offset-4 {
    margin-left: 34% !important;
  }
  .col--offset-5 {
    margin-left: 42.5% !important;
  }
  .col--offset-6 {
    margin-left: 51% !important;
  }
  .col--offset-7 {
    margin-left: 59.5% !important;
  }
  .col--offset-8 {
    margin-left: 68% !important;
  }
  .col--offset-9 {
    margin-left: 76.5% !important;
  }
  .col--offset-10 {
    margin-left: 85% !important;
  }
  .col--offset-11 {
    margin-left: 93.5% !important;
  }
  .col--offset-1-3 {
    margin-left: 34% !important;
  }
  .col--offset-2-3 {
    margin-left: 68% !important;
  }
  .col--offset-1-2 {
    margin-left: 51% !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1480px;
  }
}

.container__body {
  padding: 7.2rem 1rem;
}

.container:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}

.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container__left-menu {
  width: 100%;
}

.container__error {
  margin-top: 10rem;
}

.container__algos {
  margin-bottom: 7.2rem;
}

.container__body--algos {
  padding: 7.2rem 1rem 0rem 1rem;
}

.container__heatmap {
  width: 100%;
  margin-bottom: 7.2rem;
}

.container__heatmap--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav__wrapper {
  height: 54px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  letter-spacing: 0.1rem;
  background: none none repeat scroll 0% 0% / auto padding-box border-box;
  font: normal normal 400 normal 1.4rem / 6rem var(--sans);
  cursor: pointer;
  background-color: white;
}
.nav {
  float: left;
  width: 100%;
}
.nav__container {
  display: flex;
  flex-direction: row;
}
.nav__brand {
  padding: 0px 20px 0px 24px;
  text-decoration: none;
  white-space: nowrap;
  display: inline;
}
.nav__logo {
  background-position: 0px 1px;
  display: inline-block;
  height: 20px;
  margin: 0px 20px 0px 0px;
  text-decoration: none;
}
.nav__title {
  cursor: pointer;
  text-decoration: none;
  color: var(--fi-blue);
}
.nav__link {
  text-decoration: none;
  padding: 0px 20px 0px 0px;
  cursor: pointer;
  color: var(--off-black);
}
.nav__link:hover {
  color: var(--fi-blue);
}
.nav__link--last {
  text-decoration: none;
  cursor: pointer;
  color: var(--off-black);
}
.nav__right {
  box-sizing: border-box;
  display: flex;
  float: right;
  height: 50px;
}
.nav__search {
  height: 24px;
  min-height: auto;
  min-width: auto;
  text-decoration: none;
  width: 24px;
  margin: 24px 24px 0px 0px;
}
.active {
  color: var(--fi-blue);
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
  margin: 6rem 0;
  text-align: center;
}
.header__title {
  font-family: var(--serif);
  margin-bottom: 3rem;
}
.header__logo {
  height: 52px;
  margin-bottom: 3rem;
  user-select: none;
}
.header__copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  font-size: 1.8rem;
  line-height: 2.9rem;
  text-align: left;
}
.header__copy--em {
  color: var(--fi-blue);
  font-weight: bold;
}

/* Left Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.left-menu {
  position: absolute;
  top: 96px;
  left: 24px;
  font-family: var(--sans);
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.4pt;
}
.left-menu__link {
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .left-menu {
    position: relative;
    top: 72px;
    left: 0px;
    line-height: 2.6rem;
    padding: 2.4rem;
    width: 100%;
  }
  .left-menu__link:first-of-type {
    padding-left: 0rem;
  }
  .left-menu__link::after {
    content: " / ";
  }
  .left-menu__link:last-of-type::after {
    content: "";
  }
  .left-menu__link {
    display: inline;
  }
}

/* Recordings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.recordings {
  text-align: center;
  margin: 6em 0;
}
.recordings__title {
  font-family: var(--serif);
}

/* Errors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.errors {
  background-color: white;
  max-width: 780px;
  margin: 3rem auto;
  padding: 1.8rem;
  font-size: 1.8rem;
  line-height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.errors__message {
  color: var(--fi-brown);
  margin-block-end: 0;
}
.errors__close {
  cursor: pointer;
  margin-block-end: 0;
  font-family: var(--sans);
}
.errors__close:hover {
  color: var(--fi-blue);
}

/* Preloader
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.preloader__image {
  /* animation: logo-spin infinite 15s linear; */
  height: 10vmin;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.preloader__header {
  font-family: var(--serif);
}
.preloader__header span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.preloader__header span:nth-child(2) {
  animation-delay: 0.2s;
}
.preloader__header span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Algorithms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.algos {
  font-family: var(--sans);
}

/* React Collapsible Table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.react-collapsible-theme {
  text-align: left;
  padding: 2rem;
  background-color: #fff;
}

/* Heatmap
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heatmap__col {
  height: auto;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heatmap__legend {
  margin-bottom: 5rem;
}

.heatmap__viz {
  max-height: 650px;
  overflow: scroll;
}

.rv-continuous-color-legend .rv-gradient {
  height: 12px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2) !important;
}

.rv-legend-titles {
  font-weight: bold !important;
}

.slider__title {
  font-family: var(--serif);
}

.rv-xy-plot__series--label-text {
  font-size: 12px;
  font-weight: bold;
  cursor: default !important;
}

.rv-xy-plot__axis__title {
  transform: translate(-163, 35) !important;
  font-weight: bold !important;
}

.rv-xy-plot__series--heatmap > rect:hover {
  stroke-width: 1 !important;
  stroke: #f6782d !important;
}

/* Legend
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.legend__container {
  max-height: 500px;
}
.legend__title {
  font-family: var(--serif);
}

.legend__copy {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 3rem;
}

/* Range Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slider__container {
  width: 580px;
  margin: 10px 0;
}

.rangeslider {
  background-color: var(--fi-yellow) !important;
}

.rangeslider__handle {
  border-radius: 45px !important;
}

.rangeslider__fill {
  background: #e6e6e6 !important;
  border-radius: 1px !important;
}

.rangeslider-horizontal {
  border-radius: 1px !important;
}

.slider__copy {
  margin: 30px auto 0;
  font-size: 1.2rem;
  line-height: 2.9rem;
  text-align: left;
}

.slider__copy > p {
  margin-bottom: 0;
  line-height: 1.3rem;
}

/* Unit Detail
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.unitdetail {
  text-align: right;
}

.unitdetail__title {
  font-family: var(--serif);
  margin-top: 1nav0px;
}

.unitdetail__copy {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  line-height: 2.9rem;
  text-align: right;
  padding: 5rem;
  background-color: white;
}

.unitdetail__list {
  font-size: 1.2rem;
  font-family: var(--serif);
  text-align: right;
}

.tab-header__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.tab-header__bundle {
  font-size: 1.4rem;
}
